<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/main.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="ui three column page grid">
      <div class="column"></div>
      <div class="column">
        <div>
            <h1 class="ui header"><span class="jumbo-font"> <i class="user icon"></i>Add Local Account</span></h1>
            <br>
            <% if (message.length > 0) { %>
		        <div class="alert alert-danger"><%= message %></div>
	        <% } %>
            <form action="/connect/local" method="post">
                <div class="ui segment">
                    <div class="ui input fluid huge">
                        <label>Email Address</label>
                        <input type="email">
                    </div>
                    <div class="ui input fluid huge">
                        <label>Password</label>
                        <input type="password">
                    </div>
                    <br>
                    <button type="submit" class="ui button green huge">
                        Signup!
                    </button>
                    <div class="ui horizontal divider">Or</div>
                    <br>
                    <p>Go back to <a href="/profile">profile</a>.</p>
                </div>
            </form>
        </div>
        <div class="column"></div>
      </div>


    </div>    

    <script src="javascript/semantic.min.js"></script>
</body>
</html>