<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/main.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

    
    <div class="ui inverted segment center aligned">
        <h1 class="ui header"><span class="jumbo-font">Easy Node Authentication</span></h1>
        <br>
        <br>
        <p class="">Login or Sign Up:</p>
        
        <div class="ui buttons">
          <a href="/login" class="ui green button massive">Login</a>

          <a href="/signup" class="ui blue button massive">Sign Up</a>
        </div>
    </div>
    
    
    

    
</div>
    <script src="javascript/semantic.min.js"></script>
</body>
</html>