<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="javascript/modernizr.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <!-- Add your site or application content here -->

    <div class="ui three column page grid">
      <div class="column"></div>
      <div class="column">
        <div>
            <h1 class="ui header"><span class="jumbo-font"> <i class="sign in icon"></i>Login</span></h1>
            <br>
            <% if (message.length > 0) { %>
		        <div class="alert alert-danger"><%= message %></div>
	        <% } %>
            <form action="/login" method="post">
                <div class="ui segment">
                    <div class="ui input fluid huge">
                        <label>Email Address</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="ui input fluid huge">
                        <label>Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <br>
                    <button type="submit" class="ui button green huge">
                        Login
                    </button>
                    <div class="ui horizontal divider">Or</div>
                    <br>
                    <p>Need an account? <a href="/signup">Signup</a></p>
	                <p>Or go <a href="/">home</a>.</p>
                </div>
            </form>
        </div>
        <div class="column"></div>
      </div>


    </div>


    <script src="javascript/jquery.1.11.0.min.js"></script>
    <script src="javascript/semantic.min.js"></script>
    <script src="javascript/main.js"></script>

</body>

</html>