<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
    
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/main.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
    
    <div class="ui three column page grid">
      <div class="column"></div>
      <div class="column">
        <div>
            <h1 class="ui header"> <i class="user icon"></i>Profile Page</span></h1>
            <br>
            <div class="ui segment">
					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>
						<strong>password</strong>: <%= user.local.password %>
					</p>
			</div>
            
        </div>
        <div class="column"></div>
      </div>
    

    </div>    
    

    <script src="javascript/semantic.min.js"></script>
</body>
</html>